<!DOCTYPE html>
<html>
  <head>
    <title>MusicLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h3> Music Library </h3>
        <% if logged_in? %>
          <form action="<%=session_url%>" method= "POST">
            <input type= "hidden" name= "_method" value= "DELETE">
            <input type= "submit" value= "Log out">
          </form>
        <% else %>
          <a href="<%=new_user_url%>">Sign up  </a> 
          <a href="<%=new_session_url%>">Sign in</a>
        <% end%>
    </header>
    <br>
    <%= yield %>
  </body>
</html>
